<div class="container p-0">
  <div class="card px-4">
    <p class="h8 py-3">Transfer Amount Details</p>
    <div class="row gx-3">
      <div class="col-12">
        <div class="d-flex flex-column">
          <p class="text mb-1">Current Total Balance</p>
          <input class="form-control mb-3" readonly="text" placeholder="Name" value="890000">
        </div>
      </div>
      <p class="text-center">Account Balance</p>
      <div class="col-6">
        <div class="d-flex flex-column">
          <p class="text mb-1">Savings Account </p>
          <input class="form-control mb-3" type="text" placeholder="224340">
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <p class="text mb-1">Checking Account</p>
          <input class="form-control mb-3 pt-2 " type="password" placeholder="99096">
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <p class="text mb-1">Checking Account</p>
          <select name="" id="" class="select">
            <option value="saving">Savings</option>
            <option value="checking">Checking</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <p class="text mb-1">Checking Account</p>
          <select name="" id="" class="select">
            <option value="checking">Checking</option>
            <option value="saving">Saving</option>
          </select>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="btn btn-primary mb-3">
          <span class="ps-3">Transfer</span>
          <span class="fas fa-arrow-right"></span>
        </div>
      </div>
    </div>
  </div>
</div>