<div class="container p-0 ">
  <div class="card px-4 bg-light">
    <form>
      <p class="h8 py-3">Withdraw Amount </p>
      <div class="row gx-3">
        <div class="col-12">
          <div class="d-flex flex-column">
            <p class="text mb-1">Current balance</p>
            <input class="form-control mb-3" readonly type="text" placeholder="Name" value="89000">
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex flex-column">
            <p class="text mb-1">Amount to Withdraw</p>
            <input class="form-control mb-3" type="text" placeholder="1234 5678 435678">
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex flex-column">
            <p class="text mb-1">Balance</p>
            <input class="form-control mb-3" type="text" readonly placeholder="79679">
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="d-flex flex-column">
            <p class="text mb-1">CVV/CVC</p>
            <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
          </div>
      </div> -->
        <div class="col-12">
          <div class="btn btn-primary mb-3">
            <span class="ps-3"> Withdraw </span>
            <span class="fas fa-arrow-right"></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>